@import "../../styles/variables";
.button {
  color: grey !important;
  margin: 5px 0 !important;
  cursor: pointer !important;
  font-weight: 500 !important;
}
.button:hover {
  color: $primary-color !important;
}
