.button {
  background-color: transparent !important;
  color: black !important;
  font-weight: 600 !important;
  margin: 0 2px !important;
}
.calculateButton {
  font-family: "Ubuntu" !important;
  font-weight: 700 !important;
  border-radius: 0 !important;
  background-color: #ff9a28 !important;
  color: white !important;
}
