@import "../../styles/variables";
.navBar {
  font-family: "Ubuntu";
  background-color: white !important;
  box-shadow: none !important;
}
.navBarLogo {
  color: $primary-color;
  font-weight: 600;
}
.test {
}
