@import "../../../styles/variables";

.card {
  border: $primary-color 1px solid;
  border-radius: 10px;
  height: 200px;
  width: 180px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
}
.number {
  position: absolute;
  right: 10px;
  top: -20px;
  font-size: 30px;
  color: $primary-color;
  background-color: white;
  font-weight: 500;
}
.img {
  margin-top: 20px;
}
